%br
.row
  .col.s2
    = image_tag @playlist.pic.url(:thumb), class: 'z-depth-1 circle'
  .col.s10
    %h3= @playlist.name
.row
  .col.s12
    - @playlist.tracks.each_with_index do |track, index|
      .row
        .card.grey.lighten-5.z-depth-1.hoverable.show-track-content
          .card-content
            .col.s2
              %button.btn-floating.btn-large.waves-effect.waves-light
                %h5.track-number{:'data-track-id' => track.id}
                  = index + 1
              %br
            .col.s10
              - if track.content_type == 'text'
                .track-content.track-text{:'data-track-id' => track.id}
                  %p= track.text_content.html_safe
              - elsif track.content_type == 'youtube'
                .track-content.track-youtube{:'data-track-id' => track.id}
                  = track.text_content.html_safe